doctype html
html
    head
        title XLink
        link(rel="manifest" href="manifest.json")
        link(rel='stylesheet', href='/static/transparent_menu.css')
        link(rel='stylesheet', href='/static/fontawesome-pro-6.5.1-web/css/all.css')
        script(rel='script', href='/static/menu.js')
        script(rel='script', href='/static/fontawesome-pro-6.5.1-web/js/all.js')
    body
        if (key)
            div.clicker(onclick=`window.location.pathname = "/device/${key}/open"; return false;`)
        else
            div.clicker(onclick="window.location.pathname = `/open`; return false;")
        div.info-bar
            span Press
            .badge
                img(src="/static/logo.png" style="height: 0.95em; filter: invert(1);")
            span for controls
        if (key)
            script.
                setTimeout(() => { window.location.pathname = `/device/!{key}/closed`; }, 10000);
        else
            script.
                setTimeout(() => { window.location.pathname = `/closed`; }, 10000);
