html {
    background: black;
    color: white;
    font-size: 26pt;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    max-width: 100vw;
}

li {
    border-bottom: solid white 2pt;
    padding-bottom: 0.25em;
    padding-top: calc(0.25em - 4px);
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
li.last {
    border-bottom: none;
    margin-bottom: 2em;
}
a:hover > li,
a:focus > li,
a:active > li {
    background-color: white;
}

a:hover,
a:focus,
a:active,
.slider-item:hover,
.slider-item:focus,
.slider-item:active,
.slider-item:hover > li > a,
.slider-item:focus > li > a,
.slider-item:active > li > a {
    background-color: white;
    color: black;
}
a {
    text-decoration: none;
    color: white;
}

.status {
    float: right;
    font-weight: 100;
    font-variant-caps: all-small-caps;
}
.header-bar {
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    justify-content: space-between;
}
.icon-holder {
    padding-right: 0.35em;
    min-width: 1.5em;
    display: inline-flex;
    justify-content: center;
}
.error-box {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 2em 2em 3em;
}
.error-icon {
    color: yellow;
}
.error-text {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}
.close-button {
    padding: 0.125em 0.5em;
    margin-top: auto;
    background: #7d0000;
    bottom: 0;
    position: fixed;
    width: calc(100% - 1em);
    display: flex;
}
.badge {
    background-color: white;
    color: black;
    padding: 0.2em 0.4em 0.3em 0.4em;
    border-radius: 0.6em;
    font-size: 22px;
    font-weight: bold;
    margin-left: 0.25em;
}
.badges {
    margin-left: auto;
    display: flex;
}

ul.image-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
a.image {
    width: 50%;
}
.image li {
    height: 128px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-bottom: none;
    margin-bottom: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.slider {
    -webkit-appearance: none;
    height: 25px;
    background: #414141;
    outline: none;
    opacity: .75;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 35px;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 35px;
    background: #ffffff;
    cursor: pointer;
}

.slider-item:hover > li,
.slider-item:focus > li,
.slider-item:active > li,
.slider-item:hover > li > a,
.slider-item:focus > li > a,
.slider-item:active > li > a {
    background-color: #c9c9c9;
}
.slider-item:hover .slider,
.slider-item:focus .slider,
.slider-item:active .slider {
    background-color: #474747;
}
.slider-item:hover .slider::-webkit-slider-thumb,
.slider-item:focus .slider::-webkit-slider-thumb,
.slider-item:active .slider::-webkit-slider-thumb,
.slider-item:hover .slider::-moz-range-thumb,
.slider-item:focus .slider::-moz-range-thumb,
.slider-item:active .slider::-moz-range-thumb {
    background: #000!important;
}
.toggle-holder {
    border: solid white 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.125em;
}
.toggle-holder > a {
    display: flex;
    align-items: center;
    min-width: 1.3em;
    justify-content: center;
}
.toggle-holder > a > span {
    font-size: 0.70em;
    padding: 0 .5em;
}
.toggle-holder > a > .icon-holder > i {
    font-size: 0.70em;
    padding: 0 .5em;
}
a.toggle-active {
    background: white;
    color: black;
}

.slider-item:hover .toggle-holder,
.slider-item:focus .toggle-holder,
.slider-item:active .toggle-holder {
    border-color: black;
}
.slider-item:hover .toggle-holder > a,
.slider-item:focus .toggle-holder > a,
.slider-item:active .toggle-holder > a {
    color: black;
}
.slider-item:hover a.toggle-active,
.slider-item:focus a.toggle-active,
.slider-item:active a.toggle-active {
    background-color: black;
    color: white;
}
